<div class='pricing-box-outer'>
	<div class='pricing-box'>
		<ul>
			<li>
				<span class="glyphicon glyphicon-star"></span>
				1 Accesory of YOUR choice
			</li>
			<li>
				<span class="glyphicon glyphicon-star"></span>
				1 Mystery Accessory
			</li>
			<li>
				<span class="glyphicon glyphicon-star"></span>
				FREE shipping and returns
			</li>
			<li>
				<span class="glyphicon glyphicon-star"></span>
				Keep Items for 50% off retail
			</li>
			<li>
				<span class="glyphicon glyphicon-star"></span>
				Over $200 worth of items a month
			</li>
		</ul>
		<p class='cost'>Only <em>$<%= Settings.monthly_sub_cost %></em> / Month</p>
	</div>
</div>