<div id="page-1" class="page-section" data-page-number='1'>
  <a id="page-one-next-button" class="next-button">
    <img src="https://s3.amazonaws.com/gumball-assets/next_circle.png">
  </a>

  <p>tits</p>
</div>
<div id="page-2" class="page-section" data-page-number='2'>
  <a id="page-two-next-button" class="next-button">
    <img src="https://s3.amazonaws.com/gumball-assets/next_circle.png">
  </a>
</div>
<div id="page-3" class="page-section" data-page-number='3'>
  <a id="page-three-next-button" class="next-button">
    <img src="https://s3.amazonaws.com/gumball-assets/next_circle.png">
  </a>
</div>
<div id="page-4" class="page-section" data-page-number='4'>
</div>

<script type="text/javascript">
</script>