<div id="page-1" class="page-section" data-page-number='1'>
  <a id="page-one-next-button" class="next-button">
    <img src="https://s3.amazonaws.com/gumball-assets/next_circle.png">
  </a>
  <div id="front-page-container">
    <h1>UNLIMITED</h1>
    <div class="front-page-tagline">
      fashion accessories from top brands
    </div>
  </div>
</div>
<div id="page-2" class="page-section oouter" data-page-number='2'>
  <a id="page-two-next-button" class="next-button">
    <img src="https://s3.amazonaws.com/gumball-assets/next_circle.png">
  </a>
  <div class="inline-grid iinner">
    <h1>HOW IT WORKS</h1>
    <div class="content-banner">
      <h3>Create Your Style</h3>
      <p class="banner-text">
        Fill out a quick, fun survey by selecting your favorite styles, brands, and celebrity looks. This info is used by stylists to personally select items for you.
      </p>
    </div>
    <div class="content-banner">
      <h3>Get Fabulous Items</h3>
      <p class="banner-text">
        Choose your favorite accessory. Your package is shipped and always inludes a fun mystery item. Keep everything as long as you want.
      </p>
    </div>
    <div class="content-banner">
      <h3>Repeat and Keep</h3>
      <p class="banner-text">
        Ready for something new? Use our pre-paid polybag to send everything back. We take car of the cleaning and shipping. Love something? Keep it at up to 50% off retail.
      </p>
    </div>
  </div>
</div>
<div id="page-3" class="page-section" data-page-number='3'>
  <a id="page-three-next-button" class="next-button">
    <img src="https://s3.amazonaws.com/gumball-assets/next_circle.png">
  </a>
  <div class="inline-grid iinner">
    <h1>PRICING</h1>
    <div class="outer-pricing-container">
      <div class="transparent-pricing-background">
      </div>
      <div class="inner-pricing-container">
        <ul class="pricing-list">
          <li>
            <i class="icon-star icon-gumball-star"></i>
            1 Accessory of YOUR choice
          </li>
          <li>
            <i class="icon-star icon-gumball-star"></i>
            1 Mystery Accessory
          </li>
          <li>
            <i class="icon-star icon-gumball-star"></i>
            FREE shipping and returns
          </li>
          <li>
            <i class="icon-star icon-gumball-star"></i>
            Keep items for 50% off retail
          </li>
          <li>
            <i class="icon-star icon-gumball-star"></i>
            <span>Over $200 worth of items a month</span>
          </li>
          <li class="price-text">
            $25/<span class="price-text-month">MONTH</span>
          </li>
        </ul>
        

      </div>
    </div>
  </div>
</div>
<div id="page-4" class="page-section" data-page-number='4'>
  <div class="inline-grid iinner">
    <h1>BRANDS</h1>
    <div class="brands-image-container">
      <img src="https://s3.amazonaws.com/gumball-assets/brands.png">
    </div>
  </div>
</div>