<div id="page-one" class="page-section">
  
</div>
<div id="page-two" class="page-section">

</div>
<script type="text/javascript">
  //var height = document.getElementById('page-one').offsetHeight - 60;
  //document.getElementById('page-one').style.height = height + 'px';
</script>