html, body {
  height: 100%;
}

body {
  padding-top:$navbar-height;
}

*{
	padding:0px;
	margin:0px;
}

.navbar {
	.nav {
	  height: $navbar-height;
	}
	.nav > li > a {
	 	padding: ($navbar-height - 20)/2 10px (($navbar-height - 20)/2 + 1);
	 	font-family:'Oswald', sans-serif;
	 	font-size:17px;
	 	letter-spacing:1px;
	 	&:hover {
	 		cursor:hand;
			cursor:pointer;
	 	}
	}
	.brand {
		padding: ((($navbar-height - 20)/2) * 0.8) 20px ((($navbar-height - 20) / 2) * 1.2);
	}
}

div.page-section {
	height:100%;
	width:100%;
	overflow:none;
	&#page-1 {
		background-image:image-url('https://s3.amazonaws.com/gumball-assets/freedom_tiny.jpg');
		background-repeat:no-repeat;
		background-size:100% auto;
	}
	&#page-2 {
		background-color:lightblue;
	}
	&#page-3 {
		background-color:pink;
	}
	&#page-4 {
		background-color:lightgreen;
	}
	a:hover {
		cursor:hand;
		cursor:pointer;
	}
}
.next-button {
  position:absolute;
}