<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">         
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div id="header-page-1" data-page-number="1">
        <%= link_to root_path, :class => "header-page-link" do %>
          <%= image_tag "logos/gumball_logo.png" %>
        <% end %>
      </div>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul id="main-nav-items" class="nav navbar-nav">
        <li id="header-page-2" data-page-number="2">
          <a class="header-page-link">HOW IT WORKS</a>
        </li>
        <li id="header-page-3" data-page-number="3">
          <a class="header-page-link">BRANDS</a>
        </li>
        <li id="header-page-4" data-page-number="4">
          <a class="header-page-link">PRICING</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right"> 
        <li>
          <%= link_to "LOGIN", "#", :class => "btn btn-teal btn-regular" %>
        </li>
        <li>
          <%= link_to "REGISTER", "#", :class => "btn btn-blue btn-regular" %>
        </li>
      </ul>
    </nav>
  </div>
</header>