<div id="items-page" >
  <h1>Fab Fresh Fashion Finds</h1>
  <p class='title'>Select an item from the list and we’ll but it for you for way more than we should then put it in a box and send it to you. Selections are final so make sure you pick correctly.</p>
  <div class="item-type-section">
  	<div class="header">
  		<h2>Watches</h2>
  		<%= link_to "View All", "#" %>
  	</div>
  	<div class="owl-carousel">
  		<% Watch.get_favorites.each do |item| %>
  			<div>
  				<%= image_tag item.img_1 %>
  				<p><%= item.name %></p>
  			</div>
  		<% end %>
  	</div>
  </div>
</div>