html, body {
  height: 100%;
}

body {
  padding-top:$navbar-height;
}

*{
	padding:0px;
	margin:0px;
}

a:hover {
	cursor:hand;
	cursor:pointer;
}

div.page-section {
	min-height:100%;
	width:100%;
	overflow:none;
	h1 {
		margin: 0px;
		padding: 0px;
		text-align: center;
		margin-bottom: 20px;
	}
	&#page-1 {
		background-image:image-url('https://s3.amazonaws.com/gumball-assets/freedom_tiny.jpg');
		background-repeat:no-repeat center;
		background-size:100% auto;
	}
	&#page-2 {
		.inline-grid {
			text-align:center;
		}
		.inline-grid > div {
			margin: 0 auto;
			display:inline-block;
			padding-top:100px;
			&:last-child {
				padding-bottom:45px;
			}
		}
		background-image:image-url('https://s3.amazonaws.com/gumball-assets/dimension_teal.png');
	}
	&#page-3 {
		background-color:pink;
		background-image:image-url('https://s3.amazonaws.com/gumball-assets/fashion-accessories-for-women.jpg');
		background-repeat:no-repeat;
		background-size: cover;
	}
	&#page-4 {
		min-height:80%;
		background-image:image-url('https://s3.amazonaws.com/gumball-assets/dimension_teal.png');

	}
}
.next-button {
  position:absolute;
}

@media screen and (max-width: 875px) {
  div.page-section#page-1 { 
  	background-size: cover;
  }
}

div#action-box {
	padding-top: 15%;
	padding-left: 50px;
	h1 {
		text-align: left;
	}
	hr {
		max-width: 500px;
		//height: 3px;
		margin: 0px;
	}
	div#call-to-action-box {
		@include verala;
		max-width: 500px;
		background-color: rgba(255,255,255,.5);
		text-align: center;
		padding: 15px 0px;
		border: 1px solid #222222;
		p.get-started {
			color: #222222;
			font-size: 26px;
		}
		p.cost {
			margin-top: 10px;
			margin-bottom: 0px;
			color: $main-color;
			font-size: 18px;
		}
		em {
			color: $main-color;
			font-size: 14px;
		}
	}
}
/*How It Works*/
div#banners {
	padding-top: 90px;
	max-width: 1020px;
	margin: 0px auto;
	div.banner {
		background-image:image-url('https://s3.amazonaws.com/gumball-assets/banner_basic.png');
		background-repeat:no-repeat;
		background-size: cover;
		float: left;
		padding: 0px 28px;
		//border: 1px solid red;
		height: 400px;
		width: 330px;
		span.glyphicon {
			width: 100%;
			display: inline-block;
			text-align: center;
			margin: 18px auto 25px auto;
			color: $main-color;
			font-size: 29px;
		}
		p.header {
			color: $main-color;
			font-size: 26px;
			text-align: center;
		}
		p.desc {
			@include opensans;
			color:#1F1F1F;
			font-size: 20px;
		}
	}
	div.middle {
		margin: 0px 10px;
	}
}
/*Pricing*/
div#pricing-row {
	padding-top: 100px;
}

/**/
div#brands-row {
	padding-top: 100px;
	img {
		text-align: center;
		display: block;
		margin: 0px auto;

	}
}