@import "variables";
@import "bootstrap/bootstrap";
@import "bootstrap/bootstrap-theme";
@import "buttons";
@import "nav";
@import "layout";
@import "landing";
@import "users";
@import "pricing";

html, body {
  height: 100%;
}

body {
  padding-top:$navbar-height;
  @include opensans;
}

*{
	padding:0px;
	margin:0px;
}

a:hover {
	cursor:pointer;
}

h1, h2, h3, h4, h5 {
	font-family: Oswald, Impact, Verdana;
	color: #fff;
	text-shadow: 2px 1px 2px #000;
	filter: dropshadow(color=#000, offx=2, offy=1);
}

h1 {
	font-size: 80px;
}

h2 {
	font-size: 45px;
}

.clear {
	clear: both;
}

